body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

#container {
  display: flex;
}

#navbar {
  flex: 1;
  background-color: #f0f0f0;
  padding: 20px;
  height: 100vh;
  overflow-y: auto;
}

#content {
  flex: 3;
  padding: 20px;
}

button {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  border: none;
  background-color: #007BFF;
  color: #FFF;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
